<main>
<div class="p-grid p-col-12">
<img [src]="parana" alt="logo" height="100px">
<h6>dashboard Covid Paraná </h6>
</div>
<div class="p-grid p-fluid">
  <div class="p-col-12 p-md-6 p-lg-3">
    <p-card styleClass="casos" >
      <h4 class="grow">Casos: <i class="fas fa-file-medical-alt"></i></h4>
      <p class="grow">{{dados && dados.cases}}</p>
    </p-card>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <p-card styleClass="mortes">
      <h4 class="grow">Mortes: <i class="fas fa-book-dead"></i></h4>
      <p class="grow">{{dados && dados.deaths}}</p>
    </p-card>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <p-card styleClass="suspeito">
      <h4 class="grow">Suspeitos: <i class="fas fa-head-side-cough"></i></h4>
      <p class="grow">{{dados && dados.suspects}}</p>
    </p-card>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <p-card styleClass="recuperados">
      <h4 class="grow">Recuperados: <i class="fas fa-capsules"></i></h4>
      <p class="grow">{{dados && dados.refuses}}</p>
    </p-card>
  </div>
  <div class="footer">
    <img class="acende grow" [src]="unopar" alt="logo universidade" width="100px">
    <h3>Projeto Integrado III - Curso Analise e desenvolvimento de sistema </h3>
  </div>
</div>
</main>
